@import "breakpoints";
@import "variables";

.front{
  display: inline-block;
  background-color: $influence-green;

  @include breakpoint(lg) {
    margin: 10px 35%;
  }

  .jumbo-header{
    text-align: center;
    margin-top: 70px; 
    @include breakpoint(lg) {
      font-size: 2.6rem;
      text-align: center;
      padding: 0px 30%;
      margin-top: 150px; 
    }
    @include breakpoint(sm) {
      font-size: 36px;
      line-height: 39px;
      padding: 0 10%;
    }
  }

  .header-subtitle{
    @include breakpoint(lg) {
      padding: 0 25%;
      font-size: 1.5rem;
      text-align: center;
    }
    @include breakpoint(sm) {
      padding: 0 10%;
      font-size: 18px;
      text-align: center;
      line-height: 24px;
    }
  }

  .action-container{
    display: flex;
    justify-content: space-evenly;

    @include breakpoint(sm) {
      margin: 0 10%;
      padding: 50px 0;  
    }

    @include breakpoint(lg) {
      margin: 0 10%;
      padding: 50px 0;  
    }

    button{
      border: none;
      border-radius: 5px;
      box-shadow: 0px 3px 6px -3px gray;

      @include breakpoint(sm) {
        padding: 14px 30px;
        font-size: 18px;
        letter-spacing: 1px;
      }
      @include breakpoint(lg) {
        padding: 14px 45px;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }

    .sign-in{
      background-color: $influence-orange;
      border: none;
      color: white;
    }

    .sign-up{
      background-color: $influence-blue;
      border: none;
      color: white;
    }    
  }

  @include breakpoint(sm) {

  }
}