@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('Poppins-Thin.ttf');
}

$header-height: 40px;
$sm-gutters: 10%;
$influence-orange: #ec8b4a;
$influence-blue: #27aacf;